<p id="notice"><%= notice %></p>

<p>
  <strong>Descrição:</strong>
  <%= @behavior.description %>
</p>

<%= link_to 'Editar', edit_behavior_path(@behavior) %> |
<%= link_to 'Voltar', behaviors_path %>
