<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h1>Ficha de matricula</h1>

        <%= render 'form' %>

        <button type="button" class="btn btn-primary"> <a href="/students/">HERE</a> </button>
     </div>
    </div>
  </div>