<div>
    <h1>Padre Dehon PAP</h1>
	<h2><%= link_to 'Lista de Alunos', students_path %></h2>
	<h2><%= link_to 'Lista de Responsáveis', responsibles_path %></h2>
	<h2><%= link_to 'Lista de Comportamentos', behaviors_path %></h2>
</div>	