<%if user_signed_in?%>
	<% case current_user %>
		<% when Responsible.class %>
			<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		        <span class="username"><%current_user.responsible.name%></span>
		        <b class="caret"></b>
		    </a>
		<% when Employee.class %>
			<a data-toggle="dropdown" class="dropdown-toggle" href="#">
		        <span class="username"><%current_user.employee.name%></span>
		        <b class="caret"></b>
		    </a>
		<%else%>
			<li>
				<%= link_to('Login', new_user_session_path)  %>  
			</li>
	<%end%>
		<ul class="dropdown-menu extended logout">
			<li><a href="#"><i class=" fa fa-suitcase"></i>Alunos</a></li>
			<li><a href="#"><i class="fa fa-cog"></i> Settings</a></li>
			<li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
		</ul>
<%else%>
	<li>
		<%= link_to('Login', new_user_session_path)  %>  
	</li>

<%end%>           